<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="angular.min.js"></script>
<script>
//jsonp 跨域
//jsonp(url,{params:{}}).success().error();
//https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su?wd=qwe&cb=show
//{q:"qwe",p:false,s:["qwer","qwertyuiopasdfghjklzxcvbnm","我的世界怎么生孩子","微信网页版","qwerty","qweqwe","qwertyuiop","qwebengineview","qweqweqweqweqweqweqweqweqweqweqweqwe","qwertyuiopasdfghjklzxcvbnm什么意思"]}

var app=angular.module('myApp',[]);
app.controller('myCtrl',function ($scope,$http) {
    $scope.str='';
    $scope.arr=[];

    $scope.$watch('str',function () {
        $http.jsonp('https://sp0.baidu.com/5a1Fazu8AA54nxGko9WTAnF6hhy/su',{
            params:{wd:$scope.str,cb:'JSON_CALLBACK'}
        }).success(function (json) {
            $scope.arr=json.s;
        }).error(function () {
            alert('错了');
        });
    });

});
</script>
</head>
<body>
<input type="text" ng-model="str">
<ul>
    <li ng-repeat="s in arr">{{s}}</li>
</ul>
</body>
</html>