<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="myCtrl">
<head>
<meta charset="UTF-8">
<title>Title</title>
<script src="angular.min.js"></script>
<script>
//
/*
1.添加一条
    weibo.php?act=add&content=xxx
    返回：{error:0,id:新添加内容的id,time：添加时间}
2.获取页数
    weibo.php?act=get_page_count
    返回：{count:页数}
3.获取一页数据
    weibo.php?act=get&page=1
    返回：{id,content,time:时间戳,acc:顶次数,ref:踩次数}
4.顶
    weibo.php?act=acc&id=12
    返回：{error:0}
5.踩
    weibo.php?act=ref&id=12
    返回：{error:0}
 */
var app=angular.module('myApp',[]);
app.controller('myCtrl',function ($scope,$http) {
    $scope.replies=[];

    //获取、显示留言
    $http.get('weibo.php',{
        params:{act:'get',page:1}
    }).success(function (arr) {
        //console.log(arr);   //[]
        //alert(arr);         //
        $scope.replies=arr;
    }).error(function () {
       alert('读取失败，请稍后重试！');
    });

    //提交留言
    $scope.submitMsg=function () {
        //alert('a');
        $http.get('weibo.php',{
            params:{act:'add',content:inputText}
        }).success(function (res) {
            $scope.replies.unshift({      //push 往后添加
                id:res.id,
                content:$scope.inputText,
                time:res.time,
                acc:0,
                ref:0
            });

            //每页显示6条数据
            if($scope.replies.length>6){
                $scope.replies.pop();
            }

            $scope.inputText='';
        }).error(function () {
            alert('提交失败，请稍后重试！');
        });
    };

    //页码
    $scope.pages=[1,2,3];
});
</script>
</head>
<body>
<!-- 留言 begin -->
<textarea ng-model="inputText"></textarea>
<input type="button" value="提交留言" ng-click="submitMsg()">
<!-- 留言 end -->

<!-- 已留 begin -->
<div class="noContent" ng-cloak="" ng-show="replies.length==0">暂无留言</div>
<div class="page">
    <a href="javascript:;" ng-repeat="i in pages">{{i}}</a>
</div>
<div class="replay" ng-repeat="relay in replies">
    <p>{{relay.content}}</p>
    <p>{{relay.time|date:'yyyy-MM-dd HH-mm-ss'}}</p>
    <p>{{relay.acc}}</p>
    <p>{{relay.ref}}</p>
    <p><a href="javascript:;">删除</a></p>
</div>
<!-- 已留 end -->
</body>
</html>